<%- include('./partials/header.ejs'); %>

<body>
    <%- include(`./partials/navbar.ejs`); %>
        <div class="container">
            <br>
            <div class="card">
                <div class="card-body">
                    <h1><%= question.title %></h1>
                    <p><%= question.description %></p>
                    <form method="post" action="/question/<%= question.id %>">
                        <textarea name="answerArea" id="answerArea" class="form-control" rows="10" placeholder="Insira sua resposta"></textarea>
                        <br>
                        <button class="btn btn-success">Responder</button>
                    </form>
                </div>
            </div>
            <br>
            <h2>Respostas</h2>
            <br>
            <% answers.forEach(answ=>{ %>
                <div class="card">
                    <div class="card-body">
                        <p><%= answ.body %></p>
                    </div>
                </div>
                <br>
           <% }) %>
            
        </div>
    <%- include(`./partials/footer.ejs`); %>
</body>